<div class="jumbotron mt-4">
    <h1 class="display-4">Welcome to Mixify!</h1>
    <p class="lead">Mixify is a music discovery app that provides personalized recommendations using the Spotify API. With Mixify, you can:</p>
    <ul class="list-group-flush" style="padding-left: 1em !important; margin-left: 1em;">
        <li class="list-group-item list-style-type: disc !important;">Create New Playlists</li>
        <li class="list-group-item list-style-type: disc !important;">Generate Daily Mix Playlists</li>
        <li class="list-group-item list-style-type: disc !important;">Discover Personalized Recommendations</li>
    </ul>
    <p class="lead">Explore the world of music like never before and enjoy a seamless integration with Spotify.</p>
</div>
