{% extends 'base.html' %}

{% block content %}
<h1  class="text-center py-3">Create New Playlist</h1>
<div class="row mt-3 d-flex justify-content-center align-items-center">
    <div class="col-md-5">
        <input type="text" id="newPlaylistName" class="form-control"  value required aria-label="Text input with checkbox">
    </div>
    <div class="col-md-2 align-items-center">
        <button id="createNewPlaylist" class="btn btn-primary w-100">Create playlist</button>
    </div>
    <div class="col-md-2 align-items-center">
        <input class="form-check-input" name="overwrite" type="checkbox" id="overwriteCheck">
        <label class="form-check-label" for="overwriteCheck">Overwrite if exists</label>
    </div>

</div>

<div class="row justify-content-center">
    <div id="loadingSpinner" class="spinner-border text-success mt-3" role="status" style="display: none;">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="row justify-content-center mt-3">
    <div id="successMessage" class="col alert alert-success" role="alert" style="display: none;">
        Playlist created successfully!
    </div>
    <div id="errorMessage" class="col alert alert-danger" role="alert" style="display: none;">
        Failed to create playlist. Please try again.
    </div>
</div>

<script src="{{ url_for('static', filename='create_playlist.js') }}"></script>
{% endblock %}
