
.navbar .nav-item.active .nav-link {
    background-color: #18773e; /* Change this to the desired background color */
    color: rgb(255, 255, 255); /* Change this to the desired text color */
    font-weight: bold;
}


body {
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('/static/images/bg_unblurred.jpg');
   height: 100vh;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   /* backdrop-filter: blur(2px); */
}

.list-group-item img {
    height: 100px;
}

.playlist-container {
    max-height: 80vh;
    margin-bottom: 40px;
    overflow:auto;
    scrollbar-width: thin;
    scrollbar-color: #1db954 #333;
}

/* For Webkit browsers (Chrome, Safari) */
.playlist-container::-webkit-scrollbar {
    width: 12px;
}

.playlist-container::-webkit-scrollbar-thumb {
    background-color: #1db954; /* Color of the scrollbar thumb */
    border-radius: 6px;
}

.playlist-container::-webkit-scrollbar-track {
    background-color: #333; /* Color of the scrollbar track */
}
