html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    min-height: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('/static/images/bg_unblurred.jpg') center center fixed; */
    background-size: cover;
    position: relative;

}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('/static/images/bg_unblurred.jpg') center center fixed;
    background-size: cover;
    position: relative;
}

.container {
    text-align: center;
    color: white;
    padding: 50px;
    background-color: transparent;
    overflow-y: auto; /* Add this line to enable vertical scrolling */
}

.header {
    background-color: #1db954;
    display: flex;
    align-items: center;
    padding: 5px;
    height: 80px;
    box-shadow: inset -5px -5px 4px #000000;
    position: relative;
    z-index: 2;
}

.logo-small {
    width: auto;
    height: 80px;
    margin-right: 20px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.8));
}

/* Vertical groove line to the right of the logo */
.logo-small::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background: #006400;
    top: 0;
    right: 0;
}

.tabs {
    display: flex;
}

.tabs a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Circular Spotify Text', Arial, sans-serif;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 1.2em;
    margin-right: 20px;
    position: relative;
}

.tabs a:hover {
    background-color: #18773e;
    border-radius: 30px;
}

/* Vertical dividers between tabs with dark green color */
.tabs a:not(:last-child)::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right: -6px;
    width: 2px;
    background: #006400;
}

.sign-out {
    margin-left: auto;
}

/* Shared styles for buttons and inputs */
.sign-out button,
.sign-in button,
.sign-in input,
button.create-playlist-btn,
.sign-in-btn {
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

/* Individual styles for each button and input */
.sign-out button {
    background-color: #dc3545;
    color: #fff;
    border: 2px solid #750000;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.sign-out button:hover {
    background-color: #c82333;
    border-color: #c82333;
}

.sign-in button,
.sign-in input {
    background-color: #1db954;
    color: #fff;
    border: none;
}

.sign-in input {
    background-color: #1fdf64;
}

.sign-in button:hover,
.sign-in input:hover {
    background-color: #1fdf64;
}

button.create-playlist-btn,
.sign-in-btn {
    background-color: #1db954;
    color: #fff;
    border: none;
}

button.create-playlist-btn:hover,
.sign-in-btn:hover {
    background-color: #1fdf64;
}

.container {
    text-align: center;
    color: white;
    padding: 50px;
}

/* Spotify-style modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #646464;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Spotify-style modal */
.flash-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content {
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
}

/* Jumbotron styles */
.app-description.jumbotron {
    background-color: rgba(0, 100, 0, 0.5); /* Dark green color with 50% opacity */
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.app-description h1 {
    color: #fff;
}

.app-description ul {
    list-style-type: none;
    padding: 0;
}

.app-description li {
    margin-bottom: 10px;
}

/* Additional styles for the custom form */
.custom-form {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;

}

.custom-label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.custom-input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
}

.sign-in-btn {
    background-color: #1db954;
    color: #fff;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 20px;
}

.sign-in-btn:hover {
    background-color: #1fdf64;
}

.custom-checkbox {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Adjust margin as needed */
}

.custom-input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-options {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Add margin to the top */
}

.option-text {
    display: flex;
    align-items: center;
    margin-bottom: 0; /* Reset margin-bottom */
    margin-left: 10px;
}


.playlist-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height: 80px; /* Set a fixed height for each playlist item */
    border-bottom: 1px solid #fff; /* Thin white divider */
}

.playlist-number {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
}

.playlist-info {
    display: flex;
    align-items: center;
}

.playlist-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.playlist-details {
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    justify-content: center; /* Center vertically within the container */
}

.playlist-name,
.playlist-description {
    margin: 0; /* Reset default margin */
    text-align: left; /* Align text to the left */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Add this style to target the playlist container */
.playlist-container {
    max-height: 70vh; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrollbar */
    max-width: 100%; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container horizontally */
}

/* For Webkit browsers (Chrome, Safari) */
.playlist-container::-webkit-scrollbar {
    width: 12px;
}

.playlist-container::-webkit-scrollbar-thumb {
    background-color: #1db954; /* Color of the scrollbar thumb */
    border-radius: 6px;
}

.playlist-container::-webkit-scrollbar-track {
    background-color: #333; /* Color of the scrollbar track */
}

/* For Firefox */
.playlist-container {
    scrollbar-width: thin;
    scrollbar-color: #1db954 #333;
}
