{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Create New Playlist</h1>
    <div class="container">
        <form action="{{ url_for('create_playlist') }}" method="post" class="custom-form">
            <div class="form-group">
                <input type="text" id="playlist_name" name="playlist_name" class="custom-input" placeholder="Put new playlist name here" required>
                <div class="form-options">
                    <button type="submit" onclick="showModal('{{ get_flashed_messages()[0] }}')" class="sign-in-btn">Create Playlist</button>
                    <input type="checkbox" name="overwrite" class="custom-checkbox">
                    <label for="overwrite_checkbox" class="option-text">Overwrite if exists</label>
                </div>
            </div>
        </form>

        <div class="modal-body">
            {% if create_success is defined %}
                {% if create_success %}
                    <div class="alert alert-success" role="alert">
                        Playlist created successfully! Overwrite: {{ overwrite }}
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        Playlist creation failed. Please try again. Overwrite: {{ overwrite }}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
