{% extends 'base.html' %}

{% block content %}
    <h1  class="text-center py-3">Create New Playlist</h1>
    <form action="{{ url_for('create_playlist') }}" method="post">
            <div class="mb-3">
                <input type="text" class="form-control" id="playlist_name" name="playlist_name"  placeholder="Put new playlist name here" required aria-label="Text input with checkbox">
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center mb-3">
                <button type="submit" class="btn btn-success btn-lg">Create Playlist</button>
                <input class="form-check-input" name="overwrite" type="checkbox" id="inlineFormCheck">
                <label class="form-check-label" for="inlineFormCheck">Overwrite if exists</label>
            </div>
        </div>
    </form>
    <div>
        {% if create_success is defined %}
            {% if create_success %}
                <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                    Playlist created successfully! Overwrite: {{ overwrite }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% else %}
                <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                    Playlist creation failed. Please try again. Overwrite: {{ overwrite }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
