{% extends 'base.html' %}

{% block content %}
<h1 class="text-center py-3">Your Spotify playlists</h1>
            <ul class="list-group"></ul>
                {% for playlist in playlists %}
                    {% set playlist_image_url = playlist.images[0].url if playlist.images else url_for('static', filename='/images/no_img.png') %}
                    <li class="list-group-item d-flex align-items-center border-bottom">
                            <div class="me-3" style="width: 30px;">{{ loop.index }}.</div>
                            <div class="flex-shrink-0 my-2">
                                <img src="{{ playlist_image_url }}" alt="Playlist Image">
                            </div>
                            <div class="fw-bold ms-3 align-middle ">
                                <p class="my-0 fs-5">{{ playlist.name }}</p>
                                <p class="my-0 fs-6 fw-light">{{ playlist.description }}</p>
                            </div>
                    </li>
                {% endfor %}
            </ul>
{% endblock %}
