<!-- signin.html -->
{% extends 'base.html' %}

{% block sign_out_button %}
    {# Override the sign_out_button block in signin.html to exclude the sign-out button #}
{% endblock %}

{% block content %}
    <div class="container">
        {% include 'app_description.html' %}
    </div>
    <div class="container">
        <h1>Sign In</h1>
        <p>Click the button below to sign in:</p>
        <a href="{{ auth_url }}" class="sign-in">
            <button>Sign In with Spotify</button>
        </a>
    </div>
{% endblock %}
